{% if star is defined and star.id > 0 %}
    <form method="POST" action="/stars/{{ star.id }}">
    <input type="hidden" name="id" value="{{ star.id }}" />

{% else %}
    <form method="POST" action="/stars">
{% endif %}

<div>
    <label>Star Name: </label>
    <input type="text" 
           name="name" 
           {% if star is defined and star.name %}value="{{ star.name }}" {% endif %} />
</div>

<div>
    <label>Star Size: </label>
    <input type="number" 
           name="size" 
           {% if star is defined and star.size %}value="{{ star.size }}" {% endif %} />
</div>

<div>
    <label>Star Description: </label>
    <input type="text" 
           name="description" 
           {% if star is defined and star.description %}value="{{ star.description }}" {% endif %} />
</div>

<button type="submit">Save Star</button>
</form>
